<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TinyApp</title>

</head>

<body style="font-size:20px">

  <div class="alert alert-dark" role="alert">

    <h1 style="font-family:Georgia" class="display-1">

      <p class="text-center text-dark"><a href="/urls"><img
            src="https://raw.githubusercontent.com/Thinkful/bootcamp-finder/master/bootcamps/lighthouse-labs/logo.png">
        </a>TinyApp
      </p>

    </h1>

    <%if(!user){%>

    <p class="text-center">
      <a style="width: 16%" class="btn btn-dark" href="/login" role="button">Login</a>
      <a style="width: 16%" class="btn btn-dark" href="/register" role="button">Register</a>
    </p>

    <br>

    

    <div class="alert alert-danger" role="alert" style="padding-top: 2%">
        <h3>
            <p class="text-center"> Login / register to access</p>
          </h3>
      </div>

    <% }%>

    <%if(user){%>

    <p class="text-center">

      <form class="form-inline" action="/logout" method="POST" style="padding-left:600px">
        <h5><strong>Logged in as : <%=user.email%> &emsp;&emsp;<button type="submit" class=" btn btn-danger"
              style="width: 300px">Logout</button> </strong></h5>
      </form>

    </p>

    <% }%>

  </div>

  <br>

</body>

</html>