<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

</head>

<body style="font-size:20px">
  <div class="container">
    <h1 style="font-family:Georgia" class="display-1">

      <p class = "text-center"><img src="https://s3.amazonaws.com/f6s-public/profiles/673293_original.jpg" height="200"
          width="200"> TinyApp</p>
    </h1>
    <!-- Add EJS code here -->
    
    
      <%if(!user){%>
      <!-- <table>
        <thead >

          <th> -->
    <form class="form-inline" action="/login" method="GET">
      

      <!-- <label for="user_id"><strong>Username </strong> </label> --> 
      <!-- <input class="form-control" type="text" name="user_id" style="width: 300px; margin: 1em"> -->
      <button  type="submit" class="btn btn-dark" >Login</button>
      
    </form>
  <!-- </th>
  <th> -->
    <form class="form-inline" action="/register" method="GET" >
      <button  type="submit" class="btn btn-dark" >Register</button>

    </form>
    <!-- </th>
  </thead>
</table> -->
  
    <% }%>

    <%if(user){%>

    
      <form class="form-inline" action="/logout" method="POST" style="padding-left:250px">

        <h4><strong>Logged in as : <%=user.email%> <button type="submit" class="btn btn-dark"
              style="width: 300px">Logout</button> </strong></h4>

      </form>
    
      

    <% }%>

  
  <!-- <div class="form-group mb-2"> -->
    <div>
        <br>
</body>

</html>