<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_header.ejs %>
</head>
<div class="container">
<body style="font-size:20px; padding:50px;">
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">URL</th>
        <th scope="col">TinyURL</th>    
      </tr>
    </thead>
    <tbody>
        
      <tr>
          
        
        <td><%=longURL%> </td>
        <td><%=shortURL%></td>
      
      </tr>
   
</tbody>
  </table>
    
  
</body>

</div>
</html>