<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_header.ejs %>
</head>
<div class="container">

  <body>
    <a class="btn btn-dark btn-lg btn-block" href="http://localhost:8080/urls/new" role="button">Create new
      TinyURL</a>
    <table class="table">
      <thead>


        <th></th>

      </thead>
      <tbody>
        <tr>

          <td ></td>
          <td>
          <form class="form-inline" action="/urls/<%=shortURL%>" method="POST">
            <div class="form-group mb-2">
               <strong>ShortURL: <%=shortURL%></strong> 
              <input class="form-control" type="text" name="longURL" value=<%=longURL%> style="width: 500px; margin: 1em">
              <button type="submit" class="btn btn-warning " style = "width: 300px"><strong>Update</strong></button>
            </div>
          </form>
          </td>

          
        </tr>


        <tr>
          <td></td>
          <td></td>
          
        </tr>


      </tbody>
    </table>

    <p class="text-center"><a class="btn btn-dark" href="http://localhost:8080/urls" role="button">My URL List</a></p>
  </body>

</div>

</html>