<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Shortner</th>
          <th scope="col">Url</th>
           <th scope="col">Shorten link</th>
        </tr>
      </thead>
      <tbody>
          <% var count = 0; %>
          <% for(var key in urls) {%>
        <tr>
            
          <th scope="row"><%= count += 1 %></th>
          <td><%=key%></td>
          <td><%=urls[key]%></td>
          <td><a href = "">Click here</a></td>
        
        </tr>
     <% }%>
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td> -->
        <!-- </tr> -->
      </tbody>
    </table>
</body>
</html>