<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_header.ejs %>
</head>
<div class="container">
  <div class="container">

    <body style="font-size:20px; padding:50px;">
      <h1>
        <p class="text-center">TinyApp</p>
      </h1>
      <!-- Add EJS code here -->
      <a class="btn btn-primary btn-lg btn-block" href="http://localhost:8080/urls/new" role="button">Create new
        TinyURL</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">My URLs</th>
          </tr>
        </thead>
        <tbody>
          <% var count = 0; %>
          <% for(var key in urls) {%>
          <tr>
            <th scope="row"><%= count += 1 %></th>
            <td><%=key%>:<%=urls[key]%></td>
          </tr>
          <% }%>
        </tbody>
      </table>
    </body>
  </div>

</html>