<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_header.ejs %>
</head>
<div class="container">
  

    <body>
        <a class="btn btn-dark btn-lg btn-block" href="http://localhost:8080/urls/new" role="button">Create new
          TinyURL</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">My URLs</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          <% var count = 0; %>
          <% for(var key in urls) {%>
          <tr>
            <th scope="row"><%= count += 1 %></th>
            <td><%=key%> : <%=urls[key]%></td>
            <td><form method="POST" action= "/urls/<%=key%>/delete"  >
              <button type="submit" class="btn btn-dark">Edit</button>
              <button type="submit" class="btn btn-danger">Delete</button>
            
            </form></td>
          </tr>
          <% }%>
        </tbody>
      </table>
    </body>
  </div>

</html>