<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_header.ejs %>
</head>



<body>
  <div class="container">

    <form class="form-inline" action="/urls" method="POST">

      <div class="form-group mb-2">

        <label for="longURL"><strong>Enter a URL:</strong> </label>
        <input class="form-control" type="text" name="longURL" value="http://" style="width: 600px; margin: 1em">
        <button type="submit" class="btn btn-dark" style="width: 300px">Submit</button>

      </div>

    </form>



    <%if(error === "y"){%>
    <div class="alert alert-danger" role="alert" style="padding-top: 2%">
      <%error = "n"%>
      <p class="text-center">Not A Valid URL</p>
    </div>
    <%}%>

  </div>

</body>



</html>